nav a{
    text-decoration: underline;
    padding: 5px;
 }
 nav a:hover{
    background-color: #d3d3d3;
    border-radius: 2px;
 }
 article:nth-of-type(odd){
    background-color: #d3d3d3;
 }
 article p::first-line{
    font-weight: bold;
 }
 article p::first-letter{
    font-size:45px;
 }
 article:target{
    background-color: #d3d3d3;
    border: 7px double rgb(10, 10, 10);
 }