<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="namesCtrl">
  <p>Type a letter in the input field:</p>
  <p><input type="text" ng-model="test"></p>
  <ul>
    <li ng-repeat="x in pais | filter:test">{{ x }}</li>
  </ul>

    <p><input type="text" ng-model="test1"></p>
    <ul>
    <li ng-repeat="x in provincia | filter:test1">{{ x }}</li>
        </ul>
      </div>


<script>
  angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.pais = ['España','Reino Unido','Francia','Italia'];
    $scope.provincia = ['Caceres','Reino', 'lon  dres'];
        });
</script>


<p>The list will only consists of names matching the filter.</p>
</body>
</html>